<!DOCTYPE html>
<html>
  <head>
    <title><%= 'sdfasdf' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form name="form1" method="POST" action="/new">
        <table>
            <tr>
            <td>Message:</td>
            <td><input type="text" name="messageText" ></td>
            </tr>
            <tr>
            <td>Name</td>
            <td><input type="text" name="messageUser" ></td>
            </tr>
            <tr>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr>
        </table>
        </form>
  </body>
</html>

